<h3>Welcome</h3>


	<div class="container padd">
		
		<div class="row">
			<div class="col-sm-4 user-selection">
				<%= select_tag "plants", options_from_collection_for_select(@plants, "id", "plant_name"),class: "form-control",id: "lstBox1" %>
				
			</div>
		</div>

		<div class="row">
			<%@plant_with_material.each do |plant|%>
			<% @material = plant.material_requirements %>
			<%@material.each do |mat|%>
			<table class="table table-hover table-bordered">
				<caption class="caption"><%= plant.plant_name.capitalize%> demand for <%= mat.order_date.strftime(" %m/%d/%Y")%></caption>
			    <thead>
			      <tr>
			        <th>Item</th>
			        <th>Demand</th>
			        <th>Receipt</th>
			        <th>Inventry On Demand</th>
			        <th>UOM</th>
			        <th>Inventry Runout</th>

			      </tr>
			    </thead>
			    <tbody class="plant-body">
			      <tr>
			        <td><%= mat.item_code%></td>
			        <td><%= mat.demand%></td>
			        <td><%= mat.receipts%></td>
			        <td><%= mat.inv_on_hand%></td>
			        <td><%= mat.uom%></td>
			        <td><%= mat.inventory_run_out_time%></td>


			      </tr>
			      
			    </tbody>
			  </table>
			  <% end %>
			<% end %>
		</div>

	</div>
	
