
	<div class="container padd">
	<%= form_tag '/admin/dashboard' do -%>
		<div class="row">
			<div class="col-sm-2 col-sm-offset-10">
				<%#= link_to "Cancel",root_path,class: "btn btn-default"%>
			</div>
			
		</div>
		<div class="row">
			<div class="col-sm-4 user-selection">
				<%= select_tag "users", options_from_collection_for_select(@users, "id", "name"),class: "form-control",prompt: "Select User",id: 'user' %>
				
			</div>
		</div>

		<p>&nbsp;</p>
		<div class="row style-select">
		<div class="row region-margin">
			<div class="col-sm-12">
				<div class="col-sm-4">
					<%= select_tag "regions", options_from_collection_for_select(@select_region, "id", "region_name"),class: "form-control",id: "region_select",prompt: "Select Region" %>
				</div>
			</div>
		</div>
			<div class="col-md-12">
				<div class="subject-info-box-1">
				<%= select_tag "plants", options_from_collection_for_select(@plants, "id", "plant_name"),class: "form-control",multiple: true,id: "lstBox1" %>
					
				</div>

				<div class="subject-info-arrows text-center">
					<br /><br />
					<input type='button' id='btnAllRight' value='>>' class="btn btn-default" /><br />
					<input type='button' id='btnRight' value='>' class="btn btn-default" /><br />
					<input type='button' id='btnLeft' value='<' class="btn btn-default" /><br />
					<input type='button' id='btnAllLeft' value='<<' class="btn btn-default" />
				</div>

				<div class="subject-info-box-2">
					<%= select_tag "user_plants", options_from_collection_for_select(@user_plants, "id", "plant_name"),class: "form-control",multiple: true,id: "lstBox2" %>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	<% end %>
	</div>
	