
$('.subject-info-box-1').html('<%=j select_tag "plants", options_from_collection_for_select(@plants, "id", "plant_name"),class: "form-control",multiple: true,id: "lstBox1" %>');


$('.subject-info-box-2').html('<%=j select_tag "plants", options_from_collection_for_select(@user_plants, "id", "plant_name"),class: "form-control",multiple: true,id: "lstBox1" %>');
