<div class="row page-title">
  <div class="col-xs-6">
    <span class="title">Plants - List</span>
  </div>
  <div class="col-xs-6">
    <%= link_to 'New Plant', new_plant_path, class: 'btn btn-primary pull-right' %>
  </div>
  <div class="col-xs-12">
    <hr/>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Region name</th>
          <th>Plant code</th>
          <th>Plant name</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @plants.each do |plant| %>
          <tr>
            <td><%= plant.id %></td>
            <td><%= link_to plant.region_name, edit_plant_path(plant) %></td>
            <td><%= plant.plant_code %></td>
            <td><%= plant.plant_name %></td>
            <td><%= plant.Active %></td>
            <td>
              <%#= link_to 'Show', plant %>
              <%= link_to 'Edit', edit_plant_path(plant) %> |
              <%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
