// Place all the styles related to the Plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.caption{
	display: table-caption;
  text-align: left;
  font-weight: bold;
  margin-left: 3px;

}