<% if user_signed_in? %>
	<% if current_user.admin? %>
  		<li><%= link_to 'Material Requirements', material_requirements_path %></li>i>
  		<li><%= link_to 'Users', admin_users_path %></li>
  		<li><%= link_to 'Plants', plants_path %></li>
  	<% end %>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'My account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>
